<!DOCTYPE html>
<html>
<head>
  <title>Films</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "banner">
	<%= image_tag("movie-night.jpg", :size => '125x50') %>
	<%= "Movies we Love" %>
</div>

<div id = "nav">
	<ul>
		<li><%=link_to "Home", root_path%></li>
		<li><%=link_to "Move News", 'http://oscar.go.com/nominees'%></li>
		<li><%=link_to "Contact Us", '#'%></li>
		<li><%=link_to "Movies", movies_path%></li>
	</ul>
</div>
<%= yield %>

</body>
</html>
